Repository Drag-UI/drag-ui-client, pull requests merged in 2021-02, with the labels that each got.

#5 Update/landing-page: modify styles in landing-page
  components/layout/atoms/anchor/Logo.tsx
  components/layout/atoms/button/LandingNavButton.tsx
  components/layout/organisms/Header.tsx
  components/layout/organisms/LandingTitle.tsx
  components/layout/templates/LandingTemplate.tsx
  public/images/background.png
Labels: atoms, molecules, organisms, pages, templates

#6 Add/landing-page: add feature part of landing page
  .prettierrc.js
  components/layout/atoms/card/CardImage.tsx
  components/layout/atoms/card/SubText.tsx
  components/layout/atoms/card/Title.tsx
  components/layout/molecules/Card.tsx
  components/layout/organisms/LandingFeature.tsx
  next-env.d.ts
  next.config.js
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/api/hello.ts
  pages/index.tsx
  public/images/icons/check-icon.png
  public/images/icons/css-icon.png
  public/images/icons/html-icon.png
  public/images/icons/layout-icon.png
  styles/globals.css
  yarn.lock
Labels: atoms, molecules, organisms

#15 feature/build-page/create list title in tool-bar
  components/layout/molecules/HelpModal.tsx
  components/layout/organisms/BuildHeader.tsx
  components/layout/organisms/BuildToolBar.tsx
  components/layout/organisms/ToolBarCategory.tsx
  components/layout/templates/BuildTemplate.tsx
Labels: enhancement, molecules, organisms, templates
